<nav
  class="right-0 bottom-0 left-0 flex h-full max-h-screen items-center border-r border-r-gray-300 bg-white md:top-0 md:right-auto md:flex-col"
>
  <header
    class="to-latte-pink from-latte-maroon m-4 hidden aspect-square size-10 rounded-xl bg-linear-to-br p-2 md:block"
  >
    <img src="assets/images/icons/icon-fire.svg" class="aspect-square size-full invert" />
  </header>
  <hr class="hidden w-full text-gray-300 md:block" />
  <div
    class="relative my-4 flex w-full items-center justify-around gap-1 overflow-y-auto md:h-full md:flex-col md:justify-start md:gap-4"
  >
    <app-sidemenu-button name="Discover" icon="icon-fire" routerLink="discover" />
    <app-sidemenu-button name="Chats" routerLink="chats" icon="icon-reply" />
    <app-sidemenu-button name="Notifications" routerLink="notifications" icon="icon-bell" />
    <hr class="mt-auto hidden w-full text-gray-300 md:block" />
    <app-sidemenu-button name="Settings" icon="icon-settings" />
  </div>
  <hr class="mt-auto hidden w-full text-gray-300 md:block" />
</nav>
