<app-layout-header
  [title]="('Explorer' | i18n)()"
  [subtitle]="('Trouvez votre développeur idéal' | i18n)()"
>
  <button
    appButtonPrimary
    ngProjectAs="aside"
    class="flex items-center gap-2"
    (click)="showFilters.set(!showFilters())"
  >
    <img class="size-5 invert" src="assets/images/icons/icon-filters.svg" />
    {{ ('Filtres' | i18n)() }}
  </button>
</app-layout-header>

<div
  [class.max-h-full]="this.showFilters()"
  [class.max-h-0]="!this.showFilters()"
  class="h-fit w-full overflow-hidden bg-white/50 transition-all duration-200"
>
  <form appFormBase class="container mx-auto">
    <div class="w-full">
      <div class="flex w-full justify-between">
        <label>{{
          (
            'Âge: {minAgeFilter} - {maxAgeFilter}'
            | i18n: { minAgeFilter: formMinAge() ?? '', maxAgeFilter: formMaxAge() ?? '' }
          )()
        }}</label>
        <p>
          {{
            (
              '{minAgeFilter} - {maxAgeFilter} ans'
              | i18n
                : {
                    minAgeFilter: researchFiltersLimits.MIN_AGE,
                    maxAgeFilter: researchFiltersLimits.MAX_AGE,
                  }
            )()
          }}
        </p>
      </div>
      <app-range-selector
        [minRangeLimit]="researchFiltersLimits.MIN_AGE"
        [maxRangeLimit]="researchFiltersLimits.MAX_AGE"
        [minFormControl]="filtersFormGroup.controls.minAge"
        [maxFormControl]="filtersFormGroup.controls.maxAge"
      />
    </div>

    <div class="w-full">
      <div class="flex w-full justify-between">
        <label>{{
          ('Distance: {distanceFilter} km' | i18n: { distanceFilter: formDistance() ?? '' })()
        }}</label>
        <p>
          {{
            ('{distanceFilter} km' | i18n: { distanceFilter: researchFiltersLimits.MAX_DISTANCE })()
          }}
        </p>
      </div>
      <input
        class="w-full"
        type="range"
        [min]="researchFiltersLimits.MIN_DISTANCE"
        [max]="researchFiltersLimits.MAX_DISTANCE"
        [formControl]="filtersFormGroup.controls.distance"
      />
    </div>
    <app-radio-button-group [formControl]="filtersFormGroup.controls.userStatus">
      <app-radio-button value="all">{{ ('Tout' | i18n)() }}</app-radio-button>
      <app-radio-button value="online">{{ ('En Ligne' | i18n)() }}</app-radio-button>
      <app-radio-button value="new">{{ ('Nouveaux Utilisateurs' | i18n)() }}</app-radio-button>
    </app-radio-button-group>
    <div class="mt-4 ml-auto flex w-full flex-col gap-2 lg:w-fit lg:flex-row lg:gap-8">
      <button class="w-full" (click)="onApplyFiltersClick($event)" appButtonPrimary>
        {{ ('Appliquer' | i18n)() }}
      </button>
      <button class="w-full" (click)="onResetFiltersClick($event)" appButtonSecondary>
        {{ ('Réinitialiser' | i18n)() }}
      </button>
    </div>
  </form>
</div>

<p>discover.component works!</p>
