@if (user(); as user) {
  <div
    class="relative flex h-full min-h-0 w-xs flex-col justify-between gap-3 overflow-hidden rounded-2xl bg-linear-to-b from-gray-300 to-gray-900 bg-center bg-no-repeat p-4 text-white md:w-lg"
    [ngStyle]="{
      'background-image': 'url(' + user.avatar + ')',
      'background-size': 'cover',
    }"
  >
    <div
      class="absolute top-0 left-0 h-full w-full bg-linear-to-b from-transparent to-gray-900"
    ></div>
    <div class="z-1 flex h-full flex-col justify-between">
      <button
        (click)="clickDetails.emit($event)"
        class="ml-auto flex aspect-square cursor-pointer items-center justify-center rounded-full bg-gray-200/50 p-3 transition-colors duration-200 hover:bg-white/80"
      >
        <app-icon class="size-6 text-white" name="icon-info" />
      </button>
      <div class="flex flex-col gap-3 self-end p-4">
        <div class="flex items-end gap-2">
          <h3 class="text-3xl">{{ user.displayName }}</h3>
          <h4 class="text-2xl">{{ user.age }}</h4>
        </div>
        <p class="line-clamp-2">{{ user.biography }}</p>
        <p class="text-sm text-gray-300">
          {{ ('à {userDistance} km' | i18n: { userDistance: user.distance })() }}
        </p>
        <div class="flex flex-wrap gap-2">
          @for (interest of user.interests; track interest) {
            <p
              class="flex items-center gap-2 rounded-3xl bg-gray-600 px-2 py-1 text-sm text-nowrap"
            >
              {{ interest }}
            </p>
          }
        </div>
      </div>
    </div>
  </div>
}
