<app-stepper (cancel)="this.onCancel()" (complete)="this.onComplete()">
  <app-stepper-step
    [title]="('Ajouter des photos' | i18n)()"
    [isValid]="formGroup.controls.pictures.valid"
  >
    <p class="text-center">{{ ('Au moins 2 photos pour continuer' | i18n)() }}</p>
    <div class="mx-auto flex max-w-lg flex-wrap items-center justify-center gap-4">
      @for (i of [].constructor(this.maxPictures); track $index) {
        <app-image-selector
          [preventSelfControl]="true"
          (imageChange)="onPictureChange($event)"
          (imageClear)="onPicturesClear($index)"
          [imageSrc]="pictureSrcs()[$index]"
        />
      }
    </div>
  </app-stepper-step>
  <app-stepper-step
    [title]="('Informations de base' | i18n)()"
    [isValid]="formGroup.controls.basicInformation.valid"
  >
    <form appFormBase>
      <div class="flex flex-col gap-4 md:flex-row">
        <div class="flex w-full flex-col">
          <label>{{ ('Prénom' | i18n)() }}</label>
          <div>
            <input
              class="w-full"
              appInputPrimary
              placeholder="{{ ('Ton prénom' | i18n)() }}"
              [formControl]="formGroup.controls.basicInformation.controls.firstName"
            />
            @if (
              (formGroup.controls.basicInformation.controls.firstName.touched &&
                formGroup.controls.basicInformation.controls.firstName.dirty &&
                formGroup.controls.basicInformation.controls.firstName.errors) ||
                {};
              as errors
            ) {
              <div>
                @if (errors?.['required']) {
                  <label class="text-muted-foreground text-frappe-red text-sm">
                    {{ ('Ce champ est requis' | i18n)() }}
                  </label>
                }
                @if (errors?.['pattern']) {
                  <label class="text-muted-foreground text-frappe-red text-sm">
                    {{ ('Ne doit pas contenir de caractères spéciaux ou de chiffres' | i18n)() }}
                  </label>
                }
                @if (errors?.['maxlength']; as maxLengthError) {
                  <label class="text-muted-foreground text-frappe-red text-sm">
                    {{
                      (
                        'Ne doit pas dépasser {count} caractères'
                        | i18n: { count: maxLengthError.requiredLength }
                      )()
                    }}
                  </label>
                }
              </div>
            }
          </div>
        </div>
        <div class="flex w-full flex-col">
          <label>{{ ('Nom de famille' | i18n)() }}</label>
          <div>
            <input
              class="w-full"
              appInputPrimary
              placeholder="{{ ('Ton nom de famille' | i18n)() }}"
              [formControl]="formGroup.controls.basicInformation.controls.lastName"
            />
            @if (
              (formGroup.controls.basicInformation.controls.lastName.touched &&
                formGroup.controls.basicInformation.controls.lastName.dirty &&
                formGroup.controls.basicInformation.controls.lastName.errors) ||
                {};
              as errors
            ) {
              <div>
                @if (errors?.['required']) {
                  <label class="text-muted-foreground text-frappe-red text-sm">
                    {{ ('Ce champ est requis' | i18n)() }}
                  </label>
                }
                @if (errors?.['pattern']) {
                  <label class="text-muted-foreground text-frappe-red text-sm">
                    {{ ('Ne doit pas contenir de chiffres ou de caractères spéciaux' | i18n)() }}
                  </label>
                }
                @if (errors?.['maxlength']; as maxLengthError) {
                  <label class="text-muted-foreground text-frappe-red text-sm">
                    {{
                      (
                        'Ne doit pas dépasser {count} caractères'
                        | i18n: { count: maxLengthError.requiredLength }
                      )()
                    }}
                  </label>
                }
              </div>
            }
          </div>
        </div>
      </div>
      <label>{{ ('Âge' | i18n)() }}</label>
      <div>
        <input
          appInputPrimary
          class="w-full"
          placeholder="{{ ('Ton âge' | i18n)() }}"
          [formControl]="formGroup.controls.basicInformation.controls.age"
        />
        @if (
          (formGroup.controls.basicInformation.controls.age.touched &&
            formGroup.controls.basicInformation.controls.age.dirty &&
            formGroup.controls.basicInformation.controls.age.errors) ||
            {};
          as errors
        ) {
          <div>
            @if (errors?.['required']) {
              <label class="text-muted-foreground text-frappe-red text-sm">
                {{ ('Ce champ est requis' | i18n)() }}
              </label>
            }
            @if (errors?.['min']; as minError) {
              <label class="text-muted-foreground text-frappe-red text-sm">
                {{ ("L'âge minimum est de {min} ans" | i18n: { min: minError.min })() }}
              </label>
            }
            @if (errors?.['max']; as maxError) {
              <label class="text-muted-foreground text-frappe-red text-sm">
                {{ ("L'âge maximum est de {max} ans" | i18n: { max: maxError.max })() }}
              </label>
            }
            @if (errors?.['pattern']) {
              <label class="text-muted-foreground text-frappe-red text-sm">
                {{ ("L'âge doit être un nombre entier" | i18n)() }}
              </label>
            }
          </div>
        }
      </div>
      <label>{{ ('Sexe' | i18n)() }}</label>
      <app-radio-button-group [formControl]="formGroup.controls.basicInformation.controls.gender">
        <app-radio-button value="male">{{ ('Homme' | i18n)() }}</app-radio-button>
        <app-radio-button value="female">{{ ('Femme' | i18n)() }}</app-radio-button>
      </app-radio-button-group>

      <label>{{ ('Biographie' | i18n)() }}</label>
      <div>
        <textarea
          class="min-h-36 w-full resize-none"
          appInputPrimary
          placeholder="{{ ('Parle-nous de toi' | i18n)() }}"
          [formControl]="formGroup.controls.basicInformation.controls.biography"
        ></textarea>
        @if (
          (formGroup.controls.basicInformation.controls.biography.touched &&
            formGroup.controls.basicInformation.controls.biography.dirty &&
            formGroup.controls.basicInformation.controls.biography.errors) ||
            {};
          as errors
        ) {
          <div>
            @if (errors?.['required']) {
              <label class="text-muted-foreground text-frappe-red text-sm">
                {{ ('Ce champ est requis' | i18n)() }}
              </label>
            }
            @if (errors?.['maxlength']; as maxLengthError) {
              <label class="text-muted-foreground text-frappe-red text-sm">
                {{
                  (
                    'Ne doit pas dépasser {count} caractères'
                    | i18n: { count: maxLengthError.requiredLength }
                  )()
                }}
              </label>
            }
            @if (errors?.['minlength']; as minLengthError) {
              <label class="text-muted-foreground text-frappe-red text-sm">
                {{
                  (
                    'Doit comporter au moins {count} caractères'
                    | i18n: { count: minLengthError.requiredLength }
                  )()
                }}
              </label>
            }
          </div>
        }
      </div>
    </form>
  </app-stepper-step>

  <app-stepper-step
    [title]="('Vos centres d\'intérêts' | i18n)()"
    [isValid]="formGroup.controls.interests.valid"
  >
    <p class="text-center">
      {{ ("Sélectionnez au moins 3 centres d'intérêts" | i18n)() }}
    </p>
    <form appFormBase>
      <app-radio-button-group
        mode="multi"
        [maxSelections]="maxInterests"
        [formControl]="formGroup.controls.interests"
      >
        <app-radio-button value="voyage">{{ ('Voyage' | i18n)() }} ✈️</app-radio-button>
        <app-radio-button value="music">{{ ('Musique' | i18n)() }} 🎵</app-radio-button>
        <app-radio-button value="cinema">{{ ('Cinéma' | i18n)() }} 🎬</app-radio-button>
        <app-radio-button value="sport">{{ ('Sport' | i18n)() }} ⚽</app-radio-button>
        <app-radio-button value="nourriture">{{ ('Nourriture' | i18n)() }} 🍔</app-radio-button>
        <app-radio-button value="art">{{ ('Art' | i18n)() }} 🎨</app-radio-button>
        <app-radio-button value="films">{{ ('Films' | i18n)() }} 🍿</app-radio-button>
        <app-radio-button value="fitness">{{ ('Fitness' | i18n)() }} 🏋️</app-radio-button>
        <app-radio-button value="gaming">{{ ('Gaming' | i18n)() }} 🎮</app-radio-button>
        <app-radio-button value="lecture">{{ ('Lecture' | i18n)() }} 📚</app-radio-button>
        <app-radio-button value="cuisine">{{ ('Cuisine' | i18n)() }} 🍳</app-radio-button>
        <app-radio-button value="photographie">{{ ('Photographie' | i18n)() }} 📸</app-radio-button>
        <app-radio-button value="danse">{{ ('Danse' | i18n)() }} 💃</app-radio-button>
        <app-radio-button value="mode">{{ ('Mode' | i18n)() }} 👗</app-radio-button>
        <app-radio-button value="technologie">{{ ('Technologie' | i18n)() }} 💻</app-radio-button>
        <app-radio-button value="nature">{{ ('Nature' | i18n)() }} 🌿</app-radio-button>
      </app-radio-button-group>
    </form>
  </app-stepper-step>
  <app-stepper-step
    [title]="('Préférences' | i18n)()"
    [isValid]="formGroup.controls.preferences.valid"
  >
    <form appFormBase>
      <label>{{
        (
          'Âge: {minAgeFilter} - {maxAgeFilter}'
          | i18n
            : {
                minAgeFilter: formGroup.controls.preferences.controls.minAge.value ?? '',
                maxAgeFilter: formGroup.controls.preferences.controls.maxAge.value ?? '',
              }
        )()
      }}</label>
      <div class="rounded-xl bg-white px-8 py-4">
        <div class="flex items-center justify-between gap-4">
          <span>{{ researchFiltersLimits.MIN_AGE }}</span>
          <span>{{ researchFiltersLimits.MAX_AGE }}</span>
        </div>
        <app-range-selector
          [minRangeLimit]="researchFiltersLimits.MIN_AGE"
          [maxRangeLimit]="researchFiltersLimits.MAX_AGE"
          [minFormControl]="formGroup.controls.preferences.controls.minAge"
          [maxFormControl]="formGroup.controls.preferences.controls.maxAge"
        />
      </div>

      <label>{{ ('Orientation sexuelle' | i18n)() }}</label>
      <app-radio-button-group [formControl]="formGroup.controls.preferences.controls.gender">
        <app-radio-button value="heterosexual">{{ ('Hétérosexuel' | i18n)() }}</app-radio-button>
        <app-radio-button value="homosexual">{{ ('Homosexuel' | i18n)() }}</app-radio-button>
        <app-radio-button value="bisexual">{{ ('Bisexuel' | i18n)() }}</app-radio-button>
      </app-radio-button-group>

      <label>{{
        (
          'Distance: {distanceFilter} km'
          | i18n: { distanceFilter: formGroup.controls.preferences.controls.distance.value ?? '' }
        )()
      }}</label>
      <div class="rounded-xl bg-white px-8 py-4">
        <div class="flex items-center justify-between gap-4">
          <span>{{ researchFiltersLimits.MIN_DISTANCE }} km</span>
          <span>{{ researchFiltersLimits.MAX_DISTANCE }} km</span>
        </div>
        <input
          class="w-full"
          type="range"
          [min]="researchFiltersLimits.MIN_DISTANCE"
          [max]="researchFiltersLimits.MAX_DISTANCE"
          [formControl]="formGroup.controls.preferences.controls.distance"
        />
      </div>

      <label>{{ ('Localisation' | i18n)() }}</label>
      <app-leaflet-map
        class="h-125 w-full"
        [(pointLocation)]="location"
        [perimeterRadius]="formGroup.controls.preferences.controls.distance.value ?? 0"
      />
    </form>
  </app-stepper-step>
</app-stepper>
