<div
  class="to-latte-mauve via-latte-pink from-latte-maroon fixed top-0 right-0 bottom-0 left-0 -z-1 min-h-screen bg-linear-to-br"
></div>
<div class="mt-16 flex w-full justify-center text-gray-200">
  <div class="flex w-96 flex-col items-center gap-8">
    <div class="bg-latte-pink aspect-square size-20 rounded-full p-5">
      <app-icon name="icon-heart-full" class="h-full w-full text-white" />
    </div>
    <div class="text-center">
      <h1 class="text-3xl text-white">{{ ('Adopte ton Dev' | i18n)() }}</h1>
      <p>{{ ('Trouve ton dev parfait' | i18n)() }}</p>
    </div>
    <div class="flex w-full flex-col items-center gap-4">
      <form class="w-full" appFormPrimary (submit)="onSubmit($event)" [disabled]="isLoading()">
        <div class="flex flex-col gap-2">
          <label class="text-sm text-gray-600">{{ ('Email' | i18n)() }}</label>
          <input
            class="w-full"
            appInputPrimary
            [placeholder]="('ton@email.com' | i18n)()"
            [formControl]="authForm.controls.email"
            icon="icon-email"
            type="email"
            required
          />
        </div>
        <div class="flex flex-col gap-2">
          <label class="text-sm text-gray-600">{{ ('Mot de passe' | i18n)() }}</label>
          <input
            class="w-full"
            appInputPrimary
            placeholder="••••••••"
            [formControl]="authForm.controls.password"
            icon="icon-locker-locked"
            type="password"
            required
          />
        </div>
        <button appButtonPrimary class="w-full" [loading]="isLoading()">
          {{ ('Se connecter' | i18n)() }}
        </button>
      </form>

      <p>{{ ('Ou continuer avec' | i18n)() }}</p>
      <button appButtonSecondary class="w-full">
        {{ ('Continuer avec Github' | i18n)() }}
      </button>
      <p
        [appMarkupReplacer]="
          ('Vous n\'avez pas de compte ? {#linkref}S\'enregistrer{/linkref}' | i18n)()
        "
      >
        <ng-template appMarkupReplacerTemplate="linkref" let-content>
          <a class="text-white underline" routerLink="register">{{ content }}</a>
        </ng-template>
      </p>
    </div>
  </div>
</div>
